:root {
  --c-white: #fff;
  --color-light: #F2E6D8;
  --color-light-second: #D6AF6C;
  --color-main: #D2327D;
  --color-main-second: #AF6AA1;
  --color-dark: #2F284B;
  --template-font: Arial;
  --default-font-size: 1.125rem;
}

*::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-light);
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-main-second);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
  background-color: #EDEDED;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar {
  width: 5px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--template-font);
}

body {
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

a {
  text-decoration: none;
}

p, a {
  font-size: var(--default-font-size);
}

h2 {
  font-size: 2.2rem;
}

.container {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 850px) {
  .container {
    padding: 0 10px;
  }
}

.no-bg {
  background: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color-dark);
}
@media screen and (max-width: 700px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
header nav {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav a {
  padding: 10px;
  color: var(--color-light);
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
header nav a:hover {
  background: var(--color-main);
  color: var(--c-white);
}
@media screen and (max-width: 700px) {
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background: var(--color-dark);
  }
  header nav a {
    margin: 28px 0;
  }
}
header nav.visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
header #mobile-btn {
  position: relative;
  height: 40px;
  width: 40px;
  display: none;
  background: none;
  border: none;
}
@media screen and (max-width: 700px) {
  header #mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header #mobile-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  height: 2px;
  width: 20px;
  background: var(--color-main);
}
header #mobile-btn span::before, header #mobile-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  height: 2px;
  width: 20px;
  background: var(--color-main);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header #mobile-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
header #mobile-btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
header #mobile-btn.active span {
  height: 0;
}
header #mobile-btn.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header #mobile-btn.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main {
  width: 100%;
  background: url(../images/main-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main-right,
main .main-left {
  padding: 100px 0;
}
main .main-right img,
main .main-left img {
  height: 350px;
  width: 350px;
  border: 15px solid var(--color-main-second);
  border-radius: 50%;
}
@media screen and (max-width: 700px) {
  main .main-right img,
main .main-left img {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 365px) {
  main .main-right img,
main .main-left img {
    height: 150px;
    width: 150px;
    border: 8px solid var(--color-main-second);
  }
}
main .main-right h1,
main .main-left h1 {
  font-size: 4.5rem;
  color: var(--color-main-second);
}
@media screen and (max-width: 700px) {
  main .main-right h1,
main .main-left h1 {
    font-size: 2rem;
  }
}
main .main-right h2,
main .main-left h2 {
  font-size: 2.8rem;
  color: var(--color-main);
  text-align: left;
}
@media screen and (max-width: 700px) {
  main .main-right h2,
main .main-left h2 {
    font-size: 1.5rem;
  }
}
main div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2 {
  color: #3AE0CD;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.8rem;
}

section {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}
section div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 850px) {
  section .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
section article {
  margin-right: 10px;
  max-width: 270px;
  min-height: 270px;
  width: 100%;
  padding: 15px;
  background: #2A2A2A;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  color: #00C4F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 850px) {
  section article {
    margin-bottom: 20px;
  }
}
section article h3 {
  text-align: center;
  font-weight: 400;
}
section article img {
  width: 80px;
  text-align: center;
  height: auto;
}
section article a {
  width: 100%;
  padding: 5px 16px;
  background: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  border-radius: 8px;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
section article a:hover {
  background: var(--color-main);
}
section form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 700px) {
  section form {
    width: 100%;
  }
}
section form input,
section form textarea {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: var(--color-light);
}
section form button {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  background: var(--color-dark);
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
section form button:hover {
  background: var(--color-main);
}
section video {
  width: 50%;
  height: auto;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.47);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.47);
}
@media screen and (max-width: 700px) {
  section video {
    width: 100%;
  }
}

footer {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}
footer p {
  font-size: 1.2rem;
  color: var(--color-light);
  line-height: 1.5;
}