:root {
    --c-white: #fff;
    --color-light: #F2E6D8;
    --color-light-second: #D6AF6C;
    --color-main: #D2327D;
    --color-main-second: #AF6AA1;
    --color-dark: #2F284B;

    --template-font: Arial; 

    --default-font-size: 1.125rem;
}

*::-webkit {
    &-scrollbar {
        &-button {
            background-image: url("");
            background-repeat: no-repeat;
            width: 8px;
            height: 0px;
        }
        &-track {
            background-color: var(--color-light);
        }
        &-thumb {
            border-radius: 3px;
            background-color: var(--color-main-second);
            transition: 0.3s;
        
            &:hover {
                background-color: var(--color-dark);
                transition: all 0.3s;
        
                ::-webkit-scrollbar-button {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 8px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar-track {
                    background-color: #EDEDED;
                }
        
                ::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: var(--color-dark);
                    transition: 0.3s;
                }
        
                ::-webkit-scrollbar-thumb:hover {
                    background-color: var(--color-dark);
                    transition: all 0.3s;
                }
        
                ::-webkit-resizer {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 4px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar {
                    width: 5px;
                }
            }
        }
    }
    &-resizer {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &-scrollbar {
        width: 5px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--template-font);
}

body {
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

a {
    text-decoration: none;
}

p, a {
    font-size: var(--default-font-size);
}

.container {
    max-width: 1100px;
    width: 100%;
    display: flex;
}

.no-bg {
    background: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-dark);
    @media screen and (max-width: 700px) {
        justify-content: start;
    }
    nav {
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
            padding: 10px;
            color: var(--color-light);
            transition: background .15s ease;
            &:hover {
                background: var(--color-main);
                color: var(--c-white);
            }
        }
        @media screen and (max-width: 700px) {
            position: absolute;
            top: 0; left: 0;
            height: 100vh;
            width: 100%;
            max-width: 500px;
            justify-content: start;
            flex-direction: column;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            background: var(--color-dark);
            a {
                margin: 28px 0;
            }
        }
        &.visible {
            transform: translateX(0%);
        }
    }
    #mobile-btn {
        position: relative;
        height: 40px;
        width: 40px;
        display: none;
        background: none;
        border: none;
        @media screen and (max-width: 700px) {
            display: flex;
        }
        span {
            position: absolute;
            top: 50%; left: 50%;
            margin-top: -1px;
            margin-left: -10px;
            height: 2px;
            width: 20px;
            background: var(--color-main);
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%; left: 50%;
                margin-top: -1px;
                margin-left: -10px;
                height: 2px;
                width: 20px;
                background: var(--color-main);
                transition: transform .3s ease;
            }
            &::before {
                transform: translateY(-5px);
            }   
            &::after {
                transform: translateY(5px);
            }
        }
        &.active {
            span {
                height: 0;
                
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

main {
    width: 100%;
    background: url(../images/main-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .main-right,
    .main-left {
        padding: 100px 0;
        img {
            height: 350px;
            width: 350px;
            border: 15px solid var(--color-main-second);
            border-radius: 50%;
            @media screen and (max-width: 700px) {
                height: 200px;
                width: 200px;
            }
            @media screen and (max-width: 365px) {
                height: 150px;
                width: 150px;
                border: 8px solid var(--color-main-second);
            }
        }
        h1 {
            font-size: 4.5rem;
            color: var(--color-main-second);
            @media screen and (max-width: 700px) {
                font-size: 2rem;
            }
        }
        h2 {
            font-size: 2.8rem;
            color: var(--color-main);
            text-align: left;
            @media screen and (max-width: 700px) {
                font-size: 1.5rem;
            }
        }
    }
    div {
        justify-content: space-between;
    }
}
h2 {
    font-size: 3rem;
    color: #3AE0CD;
    margin-bottom: 40px;
    text-align: center;
    @media screen and (max-width: 700px) {
        font-size: 2.2rem;
    }
}
h3 {
    font-size: 1.8rem;
}
section {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    div {
        align-items: center;
        flex-direction: column;
    }
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 700px) {
            justify-content: center;
        }
    }
    article {
        max-width: 270px;
        min-height: 270px;
        width: 100%;
        padding: 15px;
        background: #2A2A2A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
        border-radius: 8px;
        color: #00C4F0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 700px) {
            margin-bottom: 20px;
        }
        h3 {
            text-align: center;
            font-weight: 400;
        }
        img {
            width: 80px;
            text-align: center;
            height: auto;
        }
        a {
            width: 100%;
            padding: 5px 16px;
            background: var(--color-dark);
            color: var(--color-light);
            text-align: center;
            border-radius: 8px;
            transition: background .15s ease;
            &:hover {
                background: var(--color-main);
            }
        }
    }
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 700px) {
            width: 100%;
        }
        input,
        textarea {
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            background: var(--color-light);
        }
        button {
            cursor: pointer;
            padding: 15px;
            margin-bottom: 15px;
            border: none;
            border-radius: 8px;
            color: var(--color-light);
            background: var(--color-dark);
            transition: background .15s ease-in-out;
            &:hover {
                background: var(--color-main);
            }
        }
    }
    video {
        width: 50%;
        height: auto;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.47);
        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }
}

footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    p {
        font-size: 1.2rem;
        color: var(--color-light);
        line-height: 1.5;
    }
}